version: '3'
services:
  taxi-auto-back:
    build: .
    container_name: taxi-auto-back
    ports:
      - "8088:8088"  # Flask (tu API)
      - "5001:5001"  # OSRM interno
    restart: unless-stopped
